import {Component} from 'react'

import './index.css'

class Welcome extends Component {
  state = {isSubscribed: false}
  render() {
    const {isSubscribed} = this.state
    let subscribeBtn
    if (isSubscribed) {
      subscribeBtn = <button>Subscribed</button>
    } else {
      subscribeBtn = <button>Subscribe</button>
    }
    return (
      <div className="bg-container">
        <h1>Welcome</h1>
        <p>ThankYou Happy Learning</p>
        {subscribeBtn}
      </div>
    )
  }
}
export default Welcome
